@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Ubuntu:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

a{
    color: inherit;
    text-decoration: none;
}

.globo-sites-bar{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.nav-globo-sites ul{
    list-style: none;
    display: flex;
}

.nav-globo-sites ul a{
    display: block;
    padding: 15px 10px;
}

.nav-globo-sites ul a:hover{
    border-bottom: 2px solid;
}

#link-globo{
    color: #0669DE;
}

#link-g1{
    color: #C4170C;
}

#link-ge{
    color: #06AA48;
}

#link-gshow{
    color: #FF6700;
}

#link-globoplay{
    color: #FB0334;
}

#link-o-globo{
    color: #1E4C9A;
}

#link-guia-compras{
    color: #C4170C;
}

.nav-conta ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-conta ul a{
    display: block;
    padding: 15px 0;
}

.nav-conta ul a:hover{
    fill: #0669DE;
    color: #0669DE;
}

#link-conta-globo svg{
    margin-right: 10px;
}

.logo-bar{
    height: 74px;
    background-color: #C4170C;
    position: absolute;
    width: 100%;
    top: 50px;
}

.conteudo-logo-bar{
    max-width: 1360px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-icon{
    width: 300px;
}

.menu-icon a{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
}

.menu-icon svg{
    fill: white;
}

.menu-span{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: white;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
}

/*Criando sub-menu*/
.sub-menu{
    width: 270px;
    height: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 3;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.20em;
    font-weight: 300;
    letter-spacing: -1px;
    overflow-y: scroll;
}

.sub-menu-ul{
    padding: 24px 0 24px 4px;
    border-bottom: 1px solid #eee;
}

.sub-menu-ul li{
    padding: 6px;
}

.sub-menu-ul a{
    color: #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acesse-icon{
    width: 20px;
    height: 20px;
    background-color: #666;
    padding: 4px;
    border-radius: 50%;
}

.acesse-conta-sub-menu{
    padding: 30px;
}

.acesse-conta-sub-menu li{
    display: flex;
    gap: 10px;
    align-items: center;
    line-height: .9em;
}

.acesse-conta-sub-menu li div{
    display: flex;
    flex-direction: column;
}

.acesse-conta-sub-menu span{
}

.acesse-span{
    color: red;
    font-size: .9em;
    font-weight: bold;
}

.acesse-cadastre{
    font-size: .8em;
    color: #666;
}



.g1-logo svg{
    height: 42px;
}

.busca{
    width: 300px;
    display: flex;
    justify-content: end;
}

.busca form{
    background-color: #a6130a;
    border-radius: 5px;
}

.busca fieldset{
    border: none;
    position: relative;
}

.busca label{
    padding: 8px 0 8px 8px;
    position: absolute;
    left: 0;
}

.busca label svg{
    fill: white;
}

.busca-input{
    background-color: #a6130a;
    border: none;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    padding: 8px 8px 8px 40px;
    width: 150px;
    transition: all .5s;
}

.busca-input::placeholder{
    color: white;
}

.busca-input:focus{
    width: 250px;
    outline: none;
    background-color: white;
}

.busca-input:focus + label svg, .busca-input:focus::placeholder{
    fill: #888;
    color: #888;
}