@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Ubuntu:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
}

a{
    color: inherit;
    text-decoration: none;
}

header{
    height: 128px;
}

.globo-sites-bar{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.nav-globo-sites ul{
    list-style: none;
    display: flex;
}

.nav-globo-sites ul a{
    display: block;
    padding: 15px 10px;
}

.nav-globo-sites ul a:hover{
    border-bottom: 2px solid;
}

#link-globo{
    color: #0669DE;
}

#link-g1{
    color: #C4170C;
}

#link-ge{
    color: #06AA48;
}

#link-gshow{
    color: #FF6700;
}

#link-globoplay{
    color: #FB0334;
}

#link-o-globo{
    color: #1E4C9A;
}

#link-guia-compras{
    color: #C4170C;
}

.nav-conta ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-conta ul a{
    display: block;
    padding: 15px 0;
}

.nav-conta ul a:hover{
    fill: #0669DE;
    color: #0669DE;
}

#link-conta-globo svg{
    margin-right: 10px;
}

.logo-bar{
    height: 74px;
    background-color: #C4170C;
    position: absolute;
    top: 50px;
    width: 100%;
}

.conteudo-logo-bar{
    max-width: 1360px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-icon{
    width: 300px;
}

.menu-icon a{
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu-icon svg{
    fill: white;
}

.menu-span{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: white;
}

/*Criando sub-menu*/
.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
}

.sub-menu{
    display: none;
    width: 270px;
    height: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 3;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.20em;
    font-weight: 300;
    letter-spacing: -1px;
    overflow-y: scroll;
}

.sub-menu-ul{
    padding: 24px 0 24px 4px;
    border-bottom: 1px solid #eee;
}

.sub-menu-ul li{
    padding: 6px 16px;
}

.sub-menu-ul a{
    color: #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acesse-icon{
    width: 20px;
    height: 20px;
    background-color: #999;
    padding: 4px;
    border-radius: 50%;
}

.acesse-conta-sub-menu{
    list-style: none;
    padding: 30px 20px 30px 20px;
}

.acesse-conta-sub-menu li a{
    display: flex;
    gap: 15px;
    align-items: center;
    line-height: .9em;
    padding: 5px 0;
}

.acesse-conta-sub-menu li div{
    display: flex;
    flex-direction: column;
}

.acesse-span{
    color: #C4170C;
    font-size: .8em;
    font-weight: bold;
    letter-spacing: 0;
}

.acesse-cadastre{
    font-size: .6em;
    letter-spacing: 0;
    color: #666;
}

.grupo-globo{
    color: #666;
    font-size: .8em;
}

.g1-logo svg{
    height: 42px;
}

.busca{
    width: 300px;
    display: flex;
    justify-content: end;
}

.busca form{
    background-color: #a6130a;
    border-radius: 5px;
}

.busca fieldset{
    border: none;
    position: relative;
}

.busca label{
    padding: 8px 0 8px 8px;
    position: absolute;
    left: 0;
}

.busca label svg{
    fill: white;
}

.busca-input{
    background-color: #a6130a;
    border: none;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    padding: 8px 8px 8px 40px;
    width: 150px;
    transition: all .5s;
}

.busca-input::placeholder{
    color: white;
}

.busca-input:focus{
    width: 250px;
    outline: none;
    background-color: white;
}

.busca-input:focus + label svg, .busca-input:focus::placeholder{
    fill: #888;
    color: #888;
}

.header-ads{
    width: 970px;
    height: 150px;
    background-color: #999;
    margin: 2.5em auto;
}

.main-noticias{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 12px;
    max-width: 1100px;
    width: 85%;
    height: 700px;
    max-height: 90vh;
    margin: 0 auto;
}

.main-noticias article{
    padding: 30px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.main-noticias p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #333;
}

.noticia-principal{
    grid-row: 1/3;
}

.noticia-principal div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.noticia-principal h2{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 2em;
    color: #C4170C;
}

.noticia-principal .link-relacionado{
    color: #C4170C;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 0 0 20px;
    position: relative;
}

.noticia-principal .link-relacionado::before{
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #333;
}

.news-col2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: 100%;
    background-position: center;
    transition: all .5s;
}

.news-col2:hover{
    background-size: 110%;
}

.news-01{
    background-image: url('../img/news-thumbs/news-01.webp');
}

.news-02{
    background-image: url('../img/news-thumbs/news-02.webp');
}

.news-col2 h2{
    text-shadow: 0 1px 3px rgba(0,0,0,.8);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: -1px;
}

.news-col2 p{
    color: white;
}

.main-site{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 85%;
    max-width: 1150px;
    margin: 0 auto;
    gap: 40px;
}

.noticias article{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 30px 20px 30px 0;
    border-bottom: 1px solid #ddd;
}

.noticias article:last-of-type{
    border-bottom: none;
}

.noticias article img{
    border-radius: 15px;
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.noticias-meta h2{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: -1px;
    color: #C4170C;
    padding-bottom: 10px;
}

.noticias-meta h2:hover{
    color: #a6130a;
}

.noticias-meta h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #333;
    font-size: 1em;
    padding-bottom: 5px;
}

.noticias-meta p{
    font-family: 'Open Sans', sans-serif;
    color: #666;
    font-size: .95em;
    padding-bottom: 10px;
}

.noticias-meta span{
    font-family: 'Open Sans', sans-serif;
    color: #666;
    font-size: .8em;
}

.veja-mais{
    background-color: #C4170C;
    color: white;
    border: none;
    border-bottom: 3px solid #a6130a;
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: .9em;
    text-transform: uppercase;
}

.side-card{
    width: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.card-header{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #333;
    font-size: .7em;
    padding: 20px 7.5%;
    border-bottom: 1px solid #ddd;
}

.side-card article{
    display: flex;
    width: 85%;
    margin: 0 auto;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
    gap: 20px;
}

.side-card article:last-of-type{
    border-bottom: none;
}

.card-footer h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #C4170C;
    font-size: .9em;
    padding: 20px 7.5%;
    border-top: 1px solid #ddd;
    letter-spacing: -1px;
}

.card-footer h2::after{
    content: url(../img/arrow-down.svg);
    width: 10px;
    height: 10px;
    padding-left: 10px;
}

.card-footer:hover{
    color: #a6130a;
}

.side-card h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: -1px;
    color: #C4170C;
}

.side-card h3:hover{
    color: #a6130a;
}

.side-card img{
    border-radius: 15px;
}

.rodape{
    width: 100%;
    height: 150px;
    background-color: #C4170C;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

.footer-top{
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.g1-logo-footer{
    width: 30px;
    height: 30px;
}

.footer-ultimas{
    color: white;
    font-size: .85em;
    font-weight: 500;
}

.footer-bottom{
    width: 100%;
    max-width: 1120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    font-size: .75em;
    color: white;
}

.footer-bottom li{
    display: inline;
    letter-spacing: 0;
    font-weight: 500;
}

.footer-bottom li::after{
    content: "|";
    padding: 0 2px;
    font-weight: 300;
}

.footer-bottom li:last-child::after{
    content: "";
}